body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: darkslategray;
  background-color: #ffe4e1 }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Century Gothic }
ul.navbar li {
  background: ivory;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid #008080 }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: #bc8f8f }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }